body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

.center {
	padding: 200px 0;
	text-align: center;
	}
h1 {
display: block;
font-size: 90px;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
color: rgb(245, 218, 63);
}
h2 {
display: block;
font-size: 50px;
margin-top: 0.67em;
margin-bottom: 0.67em;
margin-left: 0;
margin-right: 0;
font-weight: bold;
}
a:link, a:visited {
background-color: #fcfcfc;
color: rgb(8, 8, 8);
padding: 20px 33px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
background-color: rgb(250, 250, 250);
}

.btn-face,
.btn-google {
font-family: Montserrat-SemiBold;
font-size: 18px;
line-height: 1.2;

display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
justify-content: center;
align-items: center;
padding: 15px;
width: calc((20% - 20px) / 2);
height: 20px;
border-radius: 10px;
box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
position: relative;
z-index: 1;
}

.btn-google::before,
.btn-face::before {
content: "";
display: block;
position: absolute;
z-index: -1;
width: 100%;
height: 100%;
border-radius: 10px;
top: 0;
left: 0;
background: #a64bf4;
background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
background: -o-linear-gradient(45deg, #00dbde, #fc00ff);
background: -moz-linear-gradient(45deg, #00dbde, #fc00ff);
background: linear-gradient(45deg, #00dbde, #fc00ff);
opacity: 0;
-webkit-transition: all 0.4s;
-o-transition: all 0.4s;
-moz-transition: all 0.4s;
transition: all 0.4s;
}

.btn-face {
color: #fff;
background-color: #3b5998;
}

.btn-face i {
font-size: 30px;
margin-right: 17px;
padding-bottom: 3px;
}

.btn-google {
color: #555555;
background-color: #fff;
}

.btn-google img {
width: 30px;
margin-right: 15px;
padding-bottom: 0px;
}

.btn-face:hover:before,
.btn-google:hover:before {
opacity: 1;
}

.btn-face:hover,
.btn-google:hover {
color: #fff;
}